figure{
  margin: 0;
  border: 1px solid #000;
  position: relative;
}

figcaption{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
  font-size: 1.2em;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

img{
  display: block;
  width: 100%;
  height: auto;
}

:host{
  display: block;
}
.keg-info {
  margin-top: 2em;
}
.keg-info p {
  margin-bottom: 0.25em;
}
.star {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.actions {
  margin: 1em 0;
  padding: 0;
}
.liked {
  color: #edd209;
}
.review p {
  background-color: #f3f3f3;
  padding: 0.5em;
}
