<h4>{{keg.name}}</h4>
<figure>
  <img src="{{keg.image}}" alt="{{keg.name}} - {{keg.brand}}">
  <figcaption>
    {{keg.brand}}
  </figcaption>
</figure>

<div class="actions">
  <button type="button" (click)="showInfo = !showInfo">{{ showInfo ? "Hide Info" : "Show Info"}}</button>
</div>

<div class="keg-info" *ngIf="showInfo">
  <h4>Keg Info:</h4>
  <p>Cost: ${{keg.price}}</p>
  <p>Alcohol content: {{keg.alcoholContent}}%</p>
  <p class="{{keg.pintsRemaining < 11 ? 'lowPint' : ''}}">Pints remaining: {{keg.pintsRemaining}}</p>
  <hr>
</div>

<edit-keg [editKeg]="keg" [kegs]="kegs" [i]="i"></edit-keg>

<hr>
