<h1>New Keg</h1>
    <div>
      <br>
      <label name="new-name">New name </label>
      <input #newName>
      <br>
      <label name="new-brand">New Brand</label>
      <input #newBrand>
      <br>
      <label name="new-image">New image</label>
      <input #newImage>
      <br>
      <label name="new-price">New price</label>
      <input #newPrice>
      <br>
      <label name="new-alcoholcontent">New alcohol content</label>
      <input #newAlcoholContent>
      <br>
      <button (click)="newKeg(newName.value, newBrand.value, newImage.value, newPrice.value, newAlcoholContent.value)">Add!</button>
    </div>
